:root {
     --rotate: 18s;
}

/*'.'.'.'.'.'.'.'.'.'.'.*/
/*  SECTION NOMINATION  */
/*'.'.'.'.'.'.'.'.'.'.'.*/

.nomination-oscars {
     width: 100%;
     padding-top: 14em;
     padding-bottom: 1em;
     overflow: hidden;
     display: flex;
     flex-direction: row;
     position: relative;
     
     &__title {
          position: relative;
          margin-left: 14em;
          z-index: 0;
          
          &--text {
               width: 770px;
               padding: 0px 66px;
               position: absolute;
               z-index: 1;
               top: 1.3em;
               text-align: left;
               line-height: normal;
               letter-spacing: -0.84px;
          }
     }
     
     &__logo {
          padding-top: 42px;
     }
     
     &::before {
          content: url('./assets/images/Sunflower.png');
          position: absolute;
          left: 8em;
          top: 8em;
     }
     
     &::after {
          content: url('./assets/images/orchid.png');
          position: absolute;
          right: -4em;
          top: 0;   
     }
}



/*'.'.'.'.'.'.*/
/*  BANNIERE  */
/*'.'.'.'.'.'.*/

.banner {
     background-image: none;
     object-fit: contain;
     position: relative;
     img {
          margin: 0;
          width: 100%;
     }
     &__video {
          position: absolute;
          z-index: -1;
     }
     &__logo{
          position: sticky;
          top: 80px;
          width: 50% !important;          
          margin-top: -10% !important;
          z-index: 2;
          animation: up 1500ms 300ms forwards, float 12s 1.8s infinite ease-in-out;
     }
     &__background {
          position: absolute;
          z-index: -2;
     }
     @media screen and (max-width: 767px) {
          &__video {
               display: none;
               z-index: -100;
          }
          
     }
}

@keyframes float {
     0% {
       transform: translate3d(0px,0px,0);
     }
     9% {
       transform: translate3d(30px,-20px,0);
     }
     18% {
       transform: translate3d(20px,-10px,0);
     }
     27% {
       transform: translate3d(10px,-30px,0);
     }
     36% {
       transform: translate3d(-5px,-15px,0);
     }
     45% {
       transform: translate3d(30px,20px,0);
     }
     54% {
       transform: translate3d(10px,10px,0);
     }
     63% {
       transform: translate3d(-20px,-10px,0);
     }
     72% {
       transform: translate3d(-10px,0px,0); 
     }
     81% {
          transform: translate3d(-30px,20px,0); 
     }
     90% {
          transform: translate3d(-15px,10px,0); 
     }
     100% {
          transform: translate3d(0px,0px,0);
     }
}



/*'.'.'.'.'.'.'.'.'.'.'.'.'.*/
/*  ANIMATION PAGE GLOBALE  */
/*'.'.'.'.'.'.'.'.'.'.'.'.'.*/

.move-up {
     animation: up 1500ms 300ms forwards;
}

.move-down {
     animation: down 1500ms 300ms forwards;
}

.hidden {
     opacity: 0;
}



/* KEYFRAMES D'ANIMATION GLOBALE DE LA PAGE */

@keyframes up {
     from {
          opacity: 0;
          transform: translateY(300px);
     }
     to {
          opacity: 1;
          transform: translateY(0);
     }
}

@keyframes down {
     from {
          opacity: 0;
          transform: translateY(-300px);
     }
     to {
          opacity: 1;
          transform: translateY(0);
     }
}



/*'.'.'.'.'.*/
/*  FLEURS  */
/*'.'.'.'.'.*/


/* On masque les fleurs au-dessus du footer */
/* Réafficher quand la nomination aux oscars sera terminée */

.site-footer {
     &::before{
          display: none;
     } 
     &::after{
          display: none;
     }
}

/* Animation de la rotation des fleurs */

.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
.nomination-oscars::before,
.nomination-oscars::after,
.site-footer::before,
.site-footer::after,
.site-footer ul::after,
.burger-menu__story::before,
.burger-menu__story::after,
.burger-menu__characters::after,
.burger-menu__place::before,
.burger-menu__footer::after {
     animation: flower-rotate var(--rotate) linear infinite;
}

@keyframes flower-rotate {
     from {
          transform: rotate(0);
     }
     to {
          transform: rotate(1turn);
     }
}



/*.'.'.'.'.'.'.'.'.'.*/
/*  SECTION LE LIEU  */
/*.'.'.'.'.'.'.'.'.'.*/

/* On remplace la background image d'origine */

#place {
     background-image: url("./assets/images/Studio_Koukaki-image_place.png") !important;
     z-index: -5;
     position: relative;
     & .clouds {
          position: absolute;
          right: 3%;
          top: 5em;
          z-index: -4;
          filter: blur(10px);
          &__little-cloud {
               position: absolute;
               right: 31em;
               top: 12.5em;
          }
     }
}



/*'.'.'.'.'.*/
/*  SLIDER  */
/*'.'.'.'.'.*/

.story{
     #characters {
          margin: 6em 5em;
          display: block;
          width: 100%;
          h3 {
               text-align: left;
               background-position: 20%;
          }

          .swiper-container {
               width: 100%;
               padding-top: 50px;
               padding-bottom: 50px;
          
          
               .swiper-wrapper {
                    width: 2350px;
                    height: 440px;
                    padding-left: 4%;
                    gap: 40px;
               }               
          }
     }
}



/*'.'.'.'.'.'.'.'.'.'.'.'.'.*/
/*   ANIMATION DES TITRES   */
/*'.'.'.'.'.'.'.'.'.'.'.'.'.*/

.story {

     h2 {
          position: absolute;
          width: 517px;
          height: 217px;

          &::after {
               width: 155px;
               height: 155px;
               left: -6.32em;
          }
          &::before {
               left: -7em;
          }

          span {
               position: absolute;
               left: 2em;
               opacity: 0; /* Le h2 est invisible au chargement de la page */
               transform: translateY(100px); /* Décalage initial vers le bas */

               &.reveal {
                    opacity: 1; /* Le h2/h3 devient visible */
                    transform: translateY(0); /* Revenir à l'emplacement normal */
                    transition: opacity 2s ease, transform 2s ease;
               }
          }
     }

     &__article {
          margin-top: 217px;

          &::after {               
               width: 188px;
               height: 188px;
          }
     }
}

.characters {
     position: relative;
     
     h3 {
          position: absolute;
          width: 750px;
          height: 147px;
          left: 1em;

          span {
               position: absolute;
               left: 2.5em;
               opacity: 0; /* Le h2 est invisible au chargement de la page */
               transform: translateY(100px); /* Décalage initial vers le bas */

               &.reveal {
                    opacity: 1; /* Le h2/h3 devient visible */
                    transform: translateY(0); /* Revenir à l'emplacement normal */
                    transition: opacity 2s ease, transform 2s ease;
               }
          } 
     }

     div {
          margin-top: 40px;
          margin-bottom: 30px;
     }
}

.place {
     margin-bottom: 4em;

     h3 {
          position: absolute;
          width: 312px;
          height: 147px;
          top: 5em;
          left: 1.8em;

          span {
               position: absolute;
               left: 2em;
               opacity: 0; /* Le h2 est invisible au chargement de la page */
               transform: translateY(100px); /* Décalage initial vers le bas */

               &.reveal {
                    opacity: 1; /* Le h2/h3 devient visible */
                    transform: translateY(0); /* Revenir à l'emplacement normal */
                    transition: opacity 2s ease, transform 2s ease;
               }
          }          
     }

     > div {
          p {
               margin-top: 147px;
          }
     }
}

#studio {

     h2 {
          width: 100%;
          height: 217px;
          position: absolute;
          top: -3.5em;

          &::before {
               width: 203px;
               height: 203px;
          }

          &::after {
               width: 110px;
               height: 110px;
          }
          
          span {
               position: absolute;
               left: 8em;
               opacity: 0; /* Le h2 est invisible au chargement de la page */
               transform: translateY(100px); /* Décalage initial vers le bas */

               &.reveal {
                    opacity: 1; /* Le h2/h3 devient visible */
                    transform: translateY(0); /* Revenir à l'emplacement normal */
                    transition: opacity 2s ease, transform 2s ease;
               }
          }
     }

     > div {
          margin-top: 217px;

          &::before {
               top: -0.5em;
          }
     }
}

#oscars {
     opacity: 1; /* Le h2 est invisible au chargement de la page */
     transform: translateY(100px); /* Décalage initial vers le bas */

     &.reveal {
          opacity: 1; /* Le h2/h3 devient visible */
          transform: translateY(0); /* Revenir à l'emplacement normal */
          transition: opacity 2s ease, transform 2s ease;
     }
}



/*'.'.'.'.'.'.'.'.'.'.'.'.'.*/
/*   ANIMATION DES TITRES   */
/*'.'.'.'.'.'.'.'.'.'.'.'.'.*/

.main-navigation {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80px;
     
     .site-title {
          width: 100%;
          height: 80%;
          padding: 1% 0;
          text-align: center;

          a {
               margin-left: 7em;
          }
     }

     .burger-menu {
          position: relative;          

          ul {
               width: 75.7%;
               height: 100vh;
               display: flex;
               flex-direction: column;
               justify-content: center;
               position: fixed;
               top: -100vh;
               left: 12.2%;
               opacity: 0;
               transition-duration: 750ms;
               overflow: hidden;

               img {
                    width: 10%;
                    filter: drop-shadow(0 0 10px #ff5c00);
                    position: absolute;
                    top: 3em;
                    padding-bottom: 4em;                    
               }

               li {
                    padding-top: 1.5%;
                    font-size: 3.5rem;

                    a:hover {
                         filter: drop-shadow(0 0 5px #ff5c00);
                    }
               }

               li.burger-menu__story {

                    &::before {
                         content: url('./assets/images/orchid.png');
                         position: absolute;
                         left: -13.5em;
                         top: -2em;
                         display: block;
                         width: 173px;
                         height: 173px;
                    }

                    &::after {                         
                         content: url('./assets/images/Sunflower.png');
                         position: absolute;
                         left: 8em;
                         top: -1.5em;
                         display: block;
                         width: 155px;
                         height: 155px;
                    } 
               }

               li.burger-menu__characters {

                    &::before {
                         content: url('./assets/images/menu_bluecat.png');
                         position: absolute;
                         left: -5.5em;
                         top: -2em;
                         animation: cat-float 6s 0.3s infinite ease-in-out;
                    }

                    &::after {
                         
                         content: "";
                         width: 76px;
                         height: 76px;
                         position: absolute;
                         left: 17em;
                         top: 1em;
                         display: block;
                         width: 76px;
                         height: 76px;
                         background-image: url('./assets/images/random_flower.png');
                         background-size: contain;
                    } 
               }

               li.burger-menu__place {

                    &::before {
                         content: url('./assets/images/menu_flower.png');
                         position: absolute;
                         left: -8.7em;
                         top: 0;
                         display: block;
                         width: 71px;
                         height: 71px;
                    }

                    &::after {
                         
                         content: url('./assets/images/menu_blackcat.png');
                         width: 76px;
                         height: 76px;
                         position: absolute;
                         left: 7em;
                         top: 0;
                         animation: cat-float 8s 0.3s infinite ease-in-out;
                    } 
               }

               li.burger-menu__footer {
                    font-size: 1.2em;
                    padding-top: 10em;

                    &::before {
                         content: url('./assets/images/menu_orangecat.png');
                         position: absolute;
                         left: -35em;
                         top: 2em;
                         animation: cat-float 5s 0.3s infinite ease-in-out;
                    }

                    &::after {
                         
                         content: url('./assets/images/hibiscus_footer.png');
                         width: 76px;
                         height: 76px;
                         position: absolute;
                         left: 27.5em;
                         top: 0em;
                         display: block;
                         width: 646px;
                         height: 646px;
                    } 
               }
          }
     }

     #icons {
          cursor: pointer;
          display: block;
          width: 40px;
          height: 60px;
          margin-right: 8em;
          position: relative;
          
          &::before {
               content: "\2630";
               font-size: 3em;               
          }
     }
}

.open {

     .burger-menu {

          ul {
               background-color: #FFF5E9;
               border: black solid 1px;
               top: 80px;
               opacity: 1;
               transition-duration: 750ms;
          }
     }

     #icons {
          
          &::before {
               content: "\2715";       
          }
     }   
}

@keyframes cat-float {        /* Animation de flotement pour les chats du Menu Burger */
     0% {
       transform: translate3d(0px,0px,0);
     }     
     18% {
       transform: translate3d(20px,-10px,0);
     }
     36% {
       transform: translate3d(-5px,-15px,0);
     }
     54% {
       transform: translate3d(5px,-5px,0);
     }
     72% {
       transform: translate3d(-10px,0px,0); 
     }
     90% {
          transform: translate3d(-5px,5px,0); 
     }
     100% {
          transform: translate3d(0px,0px,0);
     }
}