:root {
     --rotate: 18s;
}

/*'.'.'.'.'.'.*/
/*  BANNIERE  */
/*'.'.'.'.'.'.*/

.banner {
     background-image: none;
     object-fit: cover;
     position: relative;
     width: 100%;
     
     img {
          margin: 0;
          width: 100%;
          height: 100%;
     }
     &__video {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
     }
     &__logo{
          position: sticky;
          top: 80px;
          width: 50% !important;          
          margin-top: -10% !important;
          z-index: 2;
          animation: up 1500ms 300ms forwards, float 12s 1.8s infinite ease-in-out;
     }
     &__background {
          position: absolute;
          z-index: -2;
     }

     @media screen and (min-width: 1024px) and (max-width: 1439px) {          
          min-height: 575px;
     }

     @media screen and (max-width: 1023px) {
          &__video {
               display: none;
               z-index: -100;
          }
          
     }
}

@keyframes float {
     0% {
       transform: translate3d(0px,0px,0);
     }
     9% {
       transform: translate3d(30px,-20px,0);
     }
     18% {
       transform: translate3d(20px,-10px,0);
     }
     27% {
       transform: translate3d(10px,-30px,0);
     }
     36% {
       transform: translate3d(-5px,-15px,0);
     }
     45% {
       transform: translate3d(30px,20px,0);
     }
     54% {
       transform: translate3d(10px,10px,0);
     }
     63% {
       transform: translate3d(-20px,-10px,0);
     }
     72% {
       transform: translate3d(-10px,0px,0); 
     }
     81% {
          transform: translate3d(-30px,20px,0); 
     }
     90% {
          transform: translate3d(-15px,10px,0); 
     }
     100% {
          transform: translate3d(0px,0px,0);
     }
}



/*'.'.'.'.'.'.'.'.'.'.'.'.'.*/
/*  ANIMATION PAGE GLOBALE  */
/*'.'.'.'.'.'.'.'.'.'.'.'.'.*/

.move-up {
     animation: up 1500ms 300ms forwards;
}

.move-down {
     animation: down 1500ms 300ms forwards;
}

.hidden {
     opacity: 0;
}



/* KEYFRAMES D'ANIMATION GLOBALE DE LA PAGE */

@keyframes up {
     from {
          opacity: 0;
          transform: translateY(300px);
     }
     to {
          opacity: 1;
          transform: translateY(0);
     }
}

@keyframes down {
     from {
          opacity: 0;
          transform: translateY(-300px);
     }
     to {
          opacity: 1;
          transform: translateY(0);
     }
}



/*'.'.'.'.'.*/
/*  FLEURS  */
/*'.'.'.'.'.*/


/* On masque les fleurs au-dessus du footer */
/* Réafficher quand la nomination aux oscars sera terminée */

.site-footer {
     &::before{
          display: none;
     } 
     &::after{
          display: none;
     }
}

/* Animation de la rotation des fleurs */

.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
.nomination-oscars::before,
.nomination-oscars::after,
.site-footer::before,
.site-footer::after,
.site-footer ul::after,
.burger-menu__story::before,
.burger-menu__story::after,
.burger-menu__characters::after,
.burger-menu__place::before,
.burger-menu__footer::after {
     animation: flower-rotate var(--rotate) linear infinite;

     @media screen and (max-width: 1023px) {
          display: none;          
     }
}

@keyframes flower-rotate {
     from {
          transform: rotate(0);
     }
     to {
          transform: rotate(1turn);
     }
}



/*.'.'.'.'.'.'.'.'.'.*/
/*  SECTION LE LIEU  */
/*.'.'.'.'.'.'.'.'.'.*/

/* On remplace la background image d'origine */

#place {
     background-image: url("./assets/images/Studio_Koukaki-image_place.png") !important;
     z-index: -5;
     position: relative;
     & .clouds {
          position: absolute;
          right: 3%;
          top: 5em;
          z-index: -4;
          filter: blur(10px);
          &__little-cloud {
               position: absolute;
               right: 31em;
               top: 12.5em;
          }
     }

     @media screen and (min-width: 1024px) and (max-width: 1439px) {

          & .clouds {

               right: -80px;

               &__big-cloud {
                    width: 65%;
               }

               &__little-cloud {
                    width: 37%;
               }
          }
     }
}



/*'.'.'.'.'.*/
/*  SLIDER  */
/*'.'.'.'.'.*/

.story{
     #characters {
          margin: 6em 5em;
          display: block;
          width: 100%;
          h3 {
               text-align: left;
               background-position: 20%;
          }

          .swiper-container {
               width: 100%;
               padding-top: 50px;
               padding-bottom: 50px;
          
          
               .swiper-wrapper {
                    width: 2350px;
                    height: 440px;
                    padding-left: 4%;
                    gap: 40px;
               }               
          }
     }
}



/*'.'.'.'.'.'.'.'.'.'.'.'.'.*/
/*   ANIMATION DES TITRES   */
/*'.'.'.'.'.'.'.'.'.'.'.'.'.*/

.story {

     h2 {
          position: absolute;
          width: 517px;
          height: 217px;

          &::after {
               width: 155px;
               height: 155px;
               left: -6.32em;
          }
          &::before {
               left: -7em;

               @media screen and (max-width: 1023px) {
                    display: none;
               }
          }

          span {
               position: absolute;
               left: 2em;
               opacity: 0; /* Le h2 est invisible au chargement de la page */
               transform: translateY(100px); /* Décalage initial vers le bas */

               &.reveal {
                    opacity: 1; /* Le h2/h3 devient visible */
                    transform: translateY(0); /* Revenir à l'emplacement normal */
                    transition: opacity 0.6s ease, transform 0.6s ease;
               }
          }
     }

     &__article {
          margin-top: 217px;

          &::after {               
               width: 188px;
               height: 188px;
          }

          &::before {
               @media screen and (max-width: 1023px) {
                    display: none;
               }
          }
     }
}

.characters {
     position: relative;
     
     h3 {
          position: absolute;
          width: 750px;
          height: 147px;
          left: 2em;

          span {
               position: absolute;
               left: 2.5em;
               opacity: 0; /* Le h2 est invisible au chargement de la page */
               transform: translateY(100px); /* Décalage initial vers le bas */

               &.reveal {
                    opacity: 1; /* Le h2/h3 devient visible */
                    transform: translateY(0); /* Revenir à l'emplacement normal */
                    transition: opacity 0.6s ease, transform 0.6s ease;
               }
          } 
     }

     div {
          margin-top: 40px;
          margin-bottom: 30px;
     }
}

.place {
     margin-bottom: 4em;

     h3 {
          position: absolute;
          width: 312px;
          height: 147px;
          top: 5em;
          left: 1.8em;

          span {
               position: absolute;
               left: 2em;
               opacity: 0; /* Le h2 est invisible au chargement de la page */
               transform: translateY(100px); /* Décalage initial vers le bas */

               &.reveal {
                    opacity: 1; /* Le h2/h3 devient visible */
                    transform: translateY(0); /* Revenir à l'emplacement normal */
                    transition: opacity 0.6s ease, transform 0.6s ease;
               }
          }          
     }

     > div {
          p {
               margin-top: 147px;
          }
     }
}

#studio {

     h2 {
          width: 100%;
          height: 217px;
          position: absolute;
          top: -3.5em;

          &::before {
               width: 203px;
               height: 203px;
          }

          &::after {
               width: 110px;
               height: 110px;
          }
          
          span {
               position: absolute;
               left: 8em;
               opacity: 0; /* Le h2 est invisible au chargement de la page */
               transform: translateY(100px); /* Décalage initial vers le bas */

               &.reveal {
                    opacity: 1; /* Le h2/h3 devient visible */
                    transform: translateY(0); /* Revenir à l'emplacement normal */
                    transition: opacity 0.6s ease, transform 0.6s ease;
               }
          }
     }

     > div {
          margin-top: 217px;

          &::before {
               top: -0.5em;
          }
     }
}

#nomination-oscars {

     h3 {

          span {
               opacity: 0; /* Le h3 est invisible au chargement de la page */
               transform: translateY(100px); /* Décalage initial vers le bas */

               &.reveal {
               opacity: 1; /* Le h2/h3 devient visible */
               transform: translateY(0); /* Revenir à l'emplacement normal */
               transition: opacity 0.6s ease, transform 0.6s ease;
               }
          }
     }
     
}



/*'.'.'.'.'.'.'.'.'*/
/*   BURGER MENU   */
/*'.'.'.'.'.'.'.'.'*/         /* https://www.youtube.com/watch?v=SihsGqNvRao&list=WL&index=30&t=10s */

.main-navigation {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80px;
     
     .site-title {
          width: 100%;
          height: 80%;
          padding: 1% 0;
          text-align: center;

          a {
               margin-left: 7em;
          }
     }

     .burger-menu {
          position: relative;          

          ul {
               min-width: 1440px;
               height: 100vh;
               display: flex;
               flex-direction: column;
               justify-content: center;
               position: fixed;
               top: -100vh;
               left: 50%;
               transform: translateX(-50%);
               opacity: 0;
               transition-duration: 0.6s;
               overflow: hidden;

               img {
                    width: 10%;
                    filter: drop-shadow(0 0 10px #ff5c00);
                    position: absolute;
                    top: 3em;
                    padding-bottom: 4em;
                    animation: cat-float 10s 0.3s infinite ease-in-out;
               }

               li {
                    padding-top: 1.5%;
                    font-size: 3.5rem;

                    a:hover {
                         filter: drop-shadow(0 0 5px #ff5c00);
                    }

                    @media screen and (min-width: 1024px) and (max-width: 1439px) {
                         font-size: 2.5rem;
                    }
                    
               }

               li.burger-menu__story {

                    &::before {
                         content: "";
                         position: absolute;
                         left: -13.5em;
                         top: -2em;
                         display: block;
                         width: 173px;
                         height: 173px;
                         background-image: url('./assets/images/orchid.png');
                         background-size: contain;
                         background-repeat: no-repeat;

                         @media screen and (min-width: 1024px) and (max-width: 1439px) {
                              width: 120px;
                              height: 120px;
                         }
                    }

                    &::after {                         
                         content: "";
                         position: absolute;
                         left: 8em;
                         top: -1.5em;
                         display: block;
                         width: 155px;
                         height: 155px;
                         background-image: url('./assets/images/Sunflower.png');
                         background-size: contain;

                         @media screen and (min-width: 1024px) and (max-width: 1439px) {
                              width: 110px;
                              height: 110px;
                         }
                    } 
               }

               li.burger-menu__characters {

                    &::before {
                         content: "";
                         position: absolute;
                         left: -5.5em;
                         top: -2em;
                         width: 109px;
                         height: 99px;
                         background-image: url('./assets/images/menu_bluecat.png');
                         background-size: contain;
                         background-repeat: no-repeat;
                         animation: cat-float 6s 0.3s infinite ease-in-out;

                         @media screen and (min-width: 1024px) and (max-width: 1439px) {
                              width: 93px;
                              height: 95px;
                         }
                    }

                    &::after {
                         
                         content: "";
                         width: 76px;
                         height: 76px;
                         position: absolute;
                         left: 17em;
                         top: 1em;
                         display: block;
                         background-image: url('./assets/images/random_flower.png');
                         background-size: contain;

                         @media screen and (min-width: 1024px) and (max-width: 1439px) {
                              width: 50px;
                              height: 50px;
                              left: 17.3em;
                         }
                    } 
               }

               li.burger-menu__place {

                    &::before {
                         content: "";
                         position: absolute;
                         left: -8.7em;
                         top: 0;
                         display: block;
                         width: 71px;
                         height: 71px;
                         background-image: url('./assets/images/menu_flower.png');
                         background-size: contain;

                         @media screen and (min-width: 1024px) and (max-width: 1439px) {
                              width: 48px;
                              height: 48px;
                         }
                    }

                    &::after {
                         
                         content: "";
                         position: absolute;
                         left: 7em;
                         top: 0;
                         width: 124px;
                         height: 112px;
                         background-image: url('./assets/images/menu_blackcat.png');
                         background-size: contain;
                         background-repeat: no-repeat;
                         animation: cat-float 8s 0.3s infinite ease-in-out;

                         @media screen and (min-width: 1024px) and (max-width: 1439px) {
                              width: 110px;
                              height: 115px;
                         }
                         
                    } 
               }

               li.burger-menu__footer {
                    font-size: 1.2em;
                    padding-top: 10em;

                    &::before {
                         content: "";
                         position: absolute;
                         left: -35em;
                         top: 2em;
                         width: 100px;
                         height: 89px;
                         background-image: url('./assets/images/menu_orangecat.png');
                         background-size: contain;
                         background-repeat: no-repeat;
                         animation: cat-float 8s 0.3s infinite ease-in-out;

                         @media screen and (min-width: 1024px) and (max-width: 1439px) {
                              width: 83px;
                              height: 85px;
                              left: -22em;
                         }
                    }

                    &::after {
                         
                         content: "";
                         position: absolute;
                         left: 27.5em;
                         top: 0em;
                         display: block;
                         width: 646px;
                         height: 646px;
                         background-image: url('./assets/images/hibiscus_footer.png');
                         background-size: contain;

                         @media screen and (min-width: 1024px) and (max-width: 1439px) {
                              width: 400px;
                              height: 400px;
                              top: 6em;
                              left: 23em;
                         }
                    } 
               }

               li::before,
               li::after {

                    @media screen and (max-width: 1023px) {
                         display: none !important;
                    }
               }

               @media screen and (min-width: 1024px) and (max-width: 1439px) {
                    min-width: 1024px;
               }

               @media screen and (min-width: 701px) and (max-width: 1023px) {
                    min-width: 701px;
               }
          }
     }

     #icons {
          cursor: pointer;
          display: block;
          width: 40px;
          height: 60px;
          margin-right: 8em;
          position: relative;
          
          &::before {
               content: "\2630";
               font-size: 3em;               
          }
     }
}

.open {

     .burger-menu {

          ul {
               background-color: #FFF5E9;
               border: black solid 1px;
               top: 79px;
               opacity: 1;
               transition-duration: 0.6s;

               li::before,
               li::after {

                    @media screen and (max-width: 1023px) {
                         display: none !important;
                    }
               }
          }
     }

     #icons {
          
          &::before {
               content: "\2715";       
          }
     }   
}

@keyframes cat-float {        /* Animation de flotement pour les chats du Menu Burger */
     0% {
       transform: translate3d(0px,0px,0);
     }     
     18% {
       transform: translate3d(20px,-10px,0);
     }
     36% {
       transform: translate3d(-5px,-15px,0);
     }
     54% {
       transform: translate3d(5px,-5px,0);
     }
     72% {
       transform: translate3d(-10px,0px,0); 
     }
     90% {
          transform: translate3d(-5px,5px,0); 
     }
     100% {
          transform: translate3d(0px,0px,0);
     }
}


/*'.'.'.'.'.'.'.'.'.'.'.*/
/*  SECTION NOMINATION  */
/*'.'.'.'.'.'.'.'.'.'.'.*/

.nomination-oscars {
     width: 100%;
     padding-top: 14em;
     padding-bottom: 1em;
     overflow: hidden;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     position: relative;

     h3 {
          background-image: url("./assets/images/orange_nomination_bg.png");
          width: 810px;
          margin-left: 4em;
          padding: 2em 2em;
          position: relative;
          display: flex;
          text-align: left;
          line-height: normal;
          letter-spacing: -0.84px;
     }
     
     &__logo {
          padding-top: 42px;
          margin-right: 15em;
     }
     
     &::before {
          content: "";
          position: absolute;
          width: 155px;
          height: 155px;
          left: 8em;
          top: 8em;
          background-image: url('./assets/images/Sunflower.png');
          background-size: contain;
     }
     
     &::after {
          content: "";
          position: absolute;
          width: 173px;
          height: 173px;
          right: -4em;
          top: 0;
          background-image: url('./assets/images/orchid.png');
          background-size: contain;  
     }
}



/*'.'.'.'.'.'.'.'.'.'*/
/*   MEDIA QUERIES   */
/*'.'.'.'.'.'.'.'.'.'*/

/* DESKTOP */

@media screen and (min-width: 1024px) and (max-width: 1439px) {

     #page {
          max-width: 1024px;
          margin: auto;
     }

     .site-header {
          top: -1px;
     }

     h3 {
          font-size: 3rem;
     }

     .story {

          h2 {

               &::before {
                    top: 75%;
                    left: -50%;
               }

               &::after {
                    top: 200%;
                    left: -42%;
               }
          }

          &__article {
          
               &::before {
                    top: 10%;
                    left: 39.5%;
               }
     
               &::after {
                    top: 5.5%;
                    left: calc(39.5% + 414px);
               }
          }

          #characters {

               margin-bottom: 0;

               h3 {
                    left: 1%;
               }

               div {
                    margin-bottom: 0;
               }

               .swiper-container {   
                    
                    padding-bottom: 0;
               
                    .swiper-wrapper {
                         width: 1800px;
                         padding-left: 0;
                         gap: 0;

                         .swiper-slide {

                              img {
                                   width: 300px;
                                   height: 300px;
                              }
                         }
                    }               
               }
          }

          #place {
               height: 500px;
               min-height: 0;
               background-size: contain;
               background-repeat: no-repeat;

               .clouds__little-cloud {
                    top: 8.5em;
               }

               h3 {
                    top: 3em;
               }
          }
     }
     
     #studio {
          margin-top: 2em;

          h2 {

               span {
                    left: 4.5em;
               }

               &::after {
                    right: 0.5em;
               }
          }
     }

     .nomination-oscars{
     
          h3 {
               font-size: 2.7rem;
               margin-left: 1em;
               padding: 2em 2em;
          }
          
          &__logo {
               margin-right: 1em;
          }

          &::before {
               width: 140px;
               height: 140px;
               left: 0;
          }

          &::after {
               width: 150px;
               height: 150px;
          }
     }
}

/* TABLETTE */

@media screen and (min-width: 700px) and (max-width: 1023px) {

     #page {
          max-width: 700px;
          margin: auto;
     }

     p {
          font-size: 0.8rem;
     }

     h2 {
          font-size: 3rem;
     }

     h3 {
          font-size: 1.8rem;
     }

     .banner {
          min-height: 460px;
     }

     .story {

          h2 {

               width: 300px;
               height: 160px;
               padding: 0;

               span {
                    top: 1.2em;
                    left: 1.5em;
               }
          }

          &__article {
               width: 80%;
               margin-top: 160px;

               p {
                    padding-top: 1em;
               }
          }

          #characters {

               margin: 0;

               h3{                    
                    width: 350px;
                    height: 120px;
                    left: 0;

                    span {
                         top: 1.5em;
                    }
               }

               div {
                    margin-top: 1.5em;
               }

               .swiper-container {   
                    
                    padding-bottom: 0;
               
                    .swiper-wrapper {
                         width: 1250px;
                         height: 190px;
                         padding: 0;
                         gap: 0;

                         .swiper-slide {

                              img {
                                   width: 150px;
                                   height: 150px;
                              }
                         }
                    }               
               }
          }

          #place {
               height: 340px;
               min-height: 0;
               background-size: contain;
               background-repeat: no-repeat;

               .clouds {
                    
                    @media screen and (min-width: 700px) and (max-width: 920px) {
                         top: 3em;
                         right: -50%;

                         &__big-cloud {
                              width: 30%;
                         }

                         &__little-cloud {
                              width: 15%;
                              top: 7em;
                              right: 115%;
                         }
                    }

                    @media screen and (min-width: 921px) and (max-width: 1023px) {
                         top: 3.3em;
                         right: -20%;

                         &__big-cloud {
                              width: 50%;
                         }

                         &__little-cloud {
                              width: 30%;
                              top: 6.5em;
                              right: 110%;
                         }
                    }                    
               }                    
                    
               h3 {
                    width: 200px;
                    height: 140px;
                    top: 3.7em;
                    left: 0;

                    span {
                         top: 2em;
                         left: 2.3em;
                    }
               }

               p {
                    position: absolute;
                    line-height: 1.3;
                    margin: 0;
                    padding: 0 16em 0 0 !important;
                    top: 18em;
                    left: 3em;
               }
                             
          }
     }

     #studio {

          h2 {
               height: 130px;
               top: -3em;
               left: 0;
               padding: 0.5em 1em;

               span {
                    top: 0.8em;
                    left: 4.7em;
                    transform: translateY(50px);
               }
          }

          div {
               margin-top: 80px;
          }
     }

     #nomination-oscars {
          padding-top: 5em;

          h3 {
               margin-left: 0;
          }

          div {
               margin-right: 0;
          }
     }

     .site-footer {
          padding-top: 5em;
     }
}

/* MOBILE */